@font-face {
    font-family: 'Nanum Gothic';
    font-weight: 400;
    src: url(../fonts/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Nanum Gothic';
    font-weight: 700;
    src: url(../fonts/NanumGothic-Bold.ttf) format('truetype');
}
